<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <!-- What we want users to see goes in the body  [CTRL+Shift+7]-->
    <h1>Movie Recommendations!</h1>

    <!--#Optional arguments: <a href="" style= class= id= </a>  -->
    <a href="/recommendation"> Don't know what to watch? Click here!</a>
    <br />
    <br />
    <br />
    <br />
    <br />

    <a href="https://github.com/ccuevasd/movie_recommender">
      Take a loot at our repository
    </a>
  </body>
</html>
