<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>Here is what you should watch:</p>
    <ul>
      <!-- <li> {{ movies[0] }} </li>
      <li> {{ movies[1] }} </li>
      <li> {{ movies[2] }} </li> -->
      {% for m in movies %}
      <li> {{ m }} </li>
      {% endfor %}

    </ul>

    <div class="button-container">

  <button onclick="location.href='/'" type="submit" class="btn btn-light m-5">
    Go back to the main page
  </button>

</div>
  </body>
</html>
